form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#imgplayfibra
{
    margin-top: 30px;
    width: 100px;
    border-radius: 30px;
    margin-left: 47%;
}
#conceitoImg
{
    margin-top: 0px;
    width: 30px;
    border-radius: 30px;
    margin-left: 47%;
}

#imgplayfibraNav{
   
    width: 30px;
    border-radius: 30px;
   
}
#tituloPlay
{
    text-align: center;
    margin-top: 40px;
/*margin-left 450 para celular*/
}
#name{
    color: #fc6c04;
    
}
h3{
    margin-right: 35px;

}
.panel-login
{
    margin-top: 70px;

}
.bt-entrar
{
    margin-top: 20px;
}
#cortitulo
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fc6c04;
    font-weight: bold;
}
.label-group
{
    margin-top: 20px;
    font-size: 16pt;
    font-weight: bold;
}

#nota
{
    margin-top: 20px;
    font-weight: bold;
}
a{
    border-radius: 4px;

    border-color: #fc6c04;
}

#btVoltar{

  position: absolute;
  margin-left: 990px;
}
.imagem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px; /* Ajuste a largura conforme necessário */
}
.imagem-item {
    margin: 10px;
    width: 200px; /* Ajuste a largura conforme necessário */
}
.imagem-item img {
    width: 100%;
    height: auto;
}